* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  min-height: 100vh;
  width: 100%;
  /* Set background image here */
  background-color: skyblue;
}

.loader {
  display: flex;
  height: 50px;
  width: 50px;
}
